.sidebarOption {
  display: flex;
  cursor: pointer;
  align-items: center;
  border: none;
  background: transparent;
  margin-right: 0.7em;
  font-size: 1.3rem;
}

.sidebarOption:hover {
  background-color: #f0f6f9;
  border-radius: 2em;
  color: var(--twitter-color);
  transition: color 0.1s ease-out;
  width: 15rem;
}

.MuiSvgIcon-root {
  padding: 0.7em;
}

.sidebarOption__active {
  font-weight: 900;
}
